In [ ]:
#End to End

In [1]:
example_list = [1,4,6,7,8,6,3,2]

In [4]:
example_list[3:7] #so it is pulling from index 3 to 7 index but not including

[7, 8, 6, 3]

In [6]:
example_list[:] #prints all (no start or end point)

[1, 4, 6, 7, 8, 6, 3, 2]

In [8]:
example_list #same

[1, 4, 6, 7, 8, 6, 3, 2]

In [9]:
example_list[:5] #up untill

[1, 4, 6, 7, 8]

In [10]:
example_list[2:] #everything after

[6, 7, 8, 6, 3, 2]

In [12]:
example_list =["Gerald","Henry","Ben","Paul"]

In [14]:
example_list[2:] #everything after Ben including start (Ben)

['Ben', 'Paul']

In [18]:
example_list[1:3]

['Henry', 'Ben']

In [19]:
example_list[0:4] #will include Paul

['Gerald', 'Henry', 'Ben', 'Paul']

In [20]:
#Adding a step

In [22]:
ex_2 = [4,6,234,232,67,564,45405303,2933]

In [23]:
ex_2[:]

[4, 6, 234, 232, 67, 564, 45405303, 2933]

In [24]:
ex_2[3:9]

[232, 67, 564, 45405303, 2933]

In [26]:
ex_2[0:6:1]

[4, 6, 234, 232, 67, 564]

In [33]:
ex_2[0:6:2] #the 2 denotes every other, Step of 2. step can be any #

[4, 234, 67]

In [34]:
ex_2[::2] #all and step of 2

[4, 234, 67, 45405303]

In [35]:
#Reverse

In [36]:
ex_2[:]

[4, 6, 234, 232, 67, 564, 45405303, 2933]

In [37]:
ex_2[::-1] #Reverses order of list

[2933, 45405303, 564, 67, 232, 234, 6, 4]

In [39]:
ex_2[::-2] # - denotes reverse, this one is reverse with step of 2

[2933, 564, 232, 6]

In [40]:
#Using in text

In [46]:
greeting = "Hello my name is Ben" #index is number and order of individual letters as well

In [47]:
greeting[:]

'Hello my name is Ben'

In [49]:
greeting[2:9]

'llo my '

In [50]:
greeting[::-2]

'nBs mny le'

In [56]:
greeting[::-2*2] #beyond scope for now but testing, it compiles

'nsmyl'