In [ ]:
#sets - unique

In [1]:
a = [1,4,3355,7676,44,8,8,8,8,3232,8,434,6,6,6,6]

In [3]:
set(a) #Returns only unique elements. So only one 8 and one 6

{1, 4, 6, 8, 44, 434, 3232, 3355, 7676}

In [4]:
b = ["johnny", "jim","jim","robert","JIM"]

In [6]:
set(b) #example of string and showing it is CASE SENSITIVE FOR STRINGS and variables

{'JIM', 'jim', 'johnny', 'robert'}

In [7]:
#Tuples

In [8]:
List = []

In [9]:
Set = {}

In [10]:
Tuples = ()

In [11]:
Dictionaries = {}

In [12]:
#Tuples are immutable (cannot be replaced)

In [31]:
b = (4,5,6,7,"Hello")

In [32]:
type(b) #checking type

tuple

In [33]:
type(a) # You can replace list but not tuples

list

In [34]:
c = set(a) #from above

In [35]:
type(c)

set

In [36]:
example_list = ["a","b","z"]

In [37]:
example_list[2] #remember, index number 2, so Z, starting with 0

'z'

In [38]:
example_list[2] = 555 #as you can see, you can change via index within the brackets.
# YOU CANNOT DO THIS WITH TUPLES ()

In [39]:
example_list

['a', 'b', 555]

In [41]:
b #a tuple

(4, 5, 6, 7, 'Hello')

In [42]:
b[4]

'Hello'

In [44]:
b[4] = "Chargers" # ERROR EXAMPLE FOR TUPLES

TypeError: 'tuple' object does not support item assignment